
body,
html {
  width: 100%;
  height: 100%; 
}

#op{
    background-image: url('pic\ 2.jpg');
    background-size: cover;
}
.title{
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 1s;
    text-align: center;
   margin-top:200px ;
    margin-bottom: 50px;

}
.title:hover{
    transform: scale(1.1);
    border: 3px solid green ;
}
.btn{
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 50px;
    margin-top: 190px;
    margin-bottom: 200px;
    align-content: center;
    transition: 1s;

  }
  .btn:hover{
    transform: scale(1.1);
    border: 3px solid green;
    background-color: purple;
  }
  a{
    text-decoration: none;
    text-align: center;
  }
  #you{
    background-image: url('htu.jpg');
    background-size: cover;
  }
#dad{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  text-align: center;
  margin-bottom: 5px;

}
  .form-wrapper {
    display: flex;
    justify-content: center;
    padding: 100px;
    margin-top: 0px;
    margin-bottom: 250px;
    position:relative;
    right:80px;
  }
  
  form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  p{
    text-transform: capitalize;
    font-family: "Instrument Sans", sans-serif;
    text-shadow: 50px;
  }
  input{
    width:200%;
    padding: 12px 20px;
    box-sizing: border-box;
    border:2px solid black ;
    border-radius: 10px;
    margin:0px
  }
  .btn2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
  }
  .btn2:hover{
    color:blue
  }
  
.col-lg-12{
  align-items: center;
}